@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Hide Google Translate top bar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

/* Optional: Hide Google Translate dropdown frame border */
.goog-te-gadget {
  font-family: inherit !important;
  font-size: 0 !important;
}
